<header>

  <a href="/">
    <img class="me" src="/images/profile.png" />
  </a>

  <ul class="icons">
    <li>
      <a href="/whoami.html" title="About me">
        <i class="fa fa-user-circle fa-sm"></i>
      </a>
    </li>

    <li>
      <a rel="me" href="https://ioc.exchange/@unknown" title="Mastodon">
        <i class="fab fa-mastodon fa-sm"></i>
      </a>
    </li>

    <li>
      <a href="https://github.com/nopeitsnothing" title="My Code">
        <i class="fa fa-code-branch"></i>
      </a>
    </li>

    <li>
      <a href="https://sinister.ly/" title="Sinister.ly">
        <i class ="fa fa-user-secret fa-sm"></i>
      </a>
    </li>

    <li>
      <a href="https://iris.to/hitchhiker" title="Nostr">
        <i class ="fa fa-atom fa-sm"></i>
      </a>
    </li>

    <li>
      <a href="/feed.xml" title="Atom feed">
        <i class="fa fa-rss fa-sm"></i>
      </a>
    </li>

  </ul>

</header>
